.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;

  margin: 0 auto 12px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.input {
  width: 90%;

  @media (min-width: 768px) {
    width: 292px;
  }
}

label {
  margin-right: 10px;
  padding-left: 15px;
  text-align: start;
  width: 90%;

  @media (min-width: 768px) {
    width: 30%;
  }
}
