.logOutText {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #101828;
  padding-right: 15px;
  margin: 0;
}

.addbtn {
  margin: 20px 20px !important;
  width: 90%;
  @media (min-width: 768px) {
    margin: 0 !important;
  }
}

.tabPanel {
  width: 100%;

  @media (min-width: 768px) {
    padding: 30px;
  }
}
