.container {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/background.png");
  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;
}
