.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 140px;

  @media (min-width: 768px) {
    width: 225px;
  }
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #101828;
}

.actionSide {
  display: flex;
  align-items: center;
}
