.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.imageWrapper {
  height: 320px;
  width: 315px;
  background: white;
  position: relative;
  margin-top: 60px;
}

h1 {
  margin: 0;
}

.bodyWrapper {
  width: 100%;
  margin-bottom: 25px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signUp {
  text-decoration: none;
  color: #000000;
  margin-top: 26px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
}
